.btnreadmore{background-color: dodgerblue !important; border: 0;}
.btnreadmore:hover{background-color: #0b73c6 !important; border: 0;}
.portraitimage{width: 45%;}
.mainnav {
    position: static !important;

}
@media(min-width: 992px) {
    .portraitimage{width: 30%;}
    .when-collapsed{width: 150% !important;}
}
@media(max-width:992px) {
    .padding20lowwidth{padding: 0 20px 0 20px !important;}
    .nopaddinglowwidth{padding:0 !important;}
    .aktualnosci{display: none !important;}
    .navbar {height: 100px;}
    .chelmonskidiv{display: flex; justify-content: center;}
    .chelmonski{width: 60% !important; height: 100%; margin-top: 40px;}
}

@media(max-width: 476px) {
    .mainlogo{width: 65px !important; height: 65px !important;}
    .mainILO{height: 40px !important;}
}

@media(max-width:768px) {
    .googlemaps {
        min-height: 290px;
    }
}
.nav-link:hover {color: #00CB54}
.btnallacti{color: #0b73c6  !important;}
.btnallacti:hover{color: #0b9dff !important; text-decoration: none !important; }
.playvid{transition: .3s all ease-in-out !important;}
.playvid:hover{font-size: 20px !important; transform: translate(-50%, -50%) scale(1.1)!important;}
.image4-3{
    position: absolute;
    top: 0 !important;
    display: block;
    min-height: 100%;
    left: 0;
    bottom: 0 !important;
    right: 0;
}
.btnpatron {
    background-color: #f3ae4d !important;
    border: 0;
}
.btnpatron:hover {
    background-color: #da9c45 !important;
}
.its_me{color: #AAAAAA !important;}
.its_me:hover{color: #CCCCCC !important;}
.dropdown-menu{border-top: 3px solid dodgerblue !important;}
.nav-link:hover{color: dodgerblue!important; }
@media screen and (min-width: 992px) and (max-width: 1200px) {
    .nav-item{margin-left: 0 !important;}
    .nav{margin-left:75px !important;}
}
.aktualnosci_sidebar{
    margin-top: 27px !important;
}
.colordodgerblue{color:dodgerblue;}


